/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0 rgba(0, 0, 0, 0.5);
}
body{
  /* width: 70%; */
  /* margin: 2rem auto; */
  font-family: "Lato", sans-serif; 
  background-color: gray;
}
h1{
  text-transform: capitalize;
  letter-spacing: 2px;
  color: brown; 
  text-align: center;
}
form{
  width: 60%;
  margin: 2rem auto; 
  box-shadow: var(--lightShadow);
}
input[type = text],input[type = email], input[type = password]{
  width: 90%;
  padding: 0.5rem 1rem 0.5rem 0;
  border-style: solid;
  border-color: grey;
  border-width: 0px 0px 1px 0; 
}
input[type = text],::placeholder {
  color: red;
  text-align: center;
  letter-spacing: 4px;
}
input:focus{
  background-color:rgb(190, 185, 185);
  color: black;
  /* padding: 1rem 1.5rem; */
  font-size: 1rem;
  letter-spacing: 1px; 
  /* margin-left: 2rem; */
}
label{
  text-transform: capitalize; 
  font-family: "Poppins", sans-serif; 
  letter-spacing: 2px; 
  font-weight: 700; 
  margin-bottom: 1rem;
}
 p > i{
  color: blue;
  font-size: 1.7rem; 
  margin-top: 0.5rem;
}
.single-form{
  padding: 1rem 0;
}
select option{
  padding: 0.5rem;
}
.form-button{
  display: flex;
  justify-content: space-between;
}
button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer; 
  border-radius: 5px;
}
button[type = "submit"]{
  background-color: rgb(38, 83, 231);
  color: white;
  border: 1px solid skyblue;
}
button[type = reset]{
  background-color: red;
  color: white;
  border: 2px solid red;
}
